.brand { 
    max-width: 1400px;
    margin: 0 auto;
    button {
        display: none !important;
    }    
    img {
        margin:0 auto;
        margin-top: 25px;
        outline: none;
    }
}
// [data-aos="rotate-ac"] {
//     transform: rotate(180deg);
//     transition-property: transform;
//   }
  
//   [data-aos="rotate-ac"].aos-animate {
//     transform: rotate(0deg);
//   }
  
//   [data-aos="rotate-c"] {
//     transform: rotate(-180deg);
//     transition-property: transform;
//   }
  
//   [data-aos="rotate-c"].aos-animate {
//     transform: rotate(0deg);
//   }
