

    // Shared
    .sale-of {
        margin-top: 10px;
        font-size: 60px;
        line-height: 60px;
        font-weight: 600; 
        span {
            vertical-align: top;
            font-size: 30px;
            color: #1d1d1d;
            font-weight: normal;
            font-family: montserrat;
            font-style: normal;
        }     
    }

    .banner {
        .block{
            overflow: hidden;
            height: 98.7%;
            &:hover {
                overflow: hidden;
            }
            &:hover img {
                transform: scale(1.09);
            }
        }
        margin-top: 80px !important;
        .item {
            position: relative;
            overflow: hidden;
            .content2,.content4,.content5,.content6 {
                position: absolute;
                left: 58px;
                top: 45px;
            }
            .content-shared {
                position: absolute;
                top: 65px;
                display: flex;
                flex-direction: column;
                align-items: center;
                right: 60px;
                h5 {
                   line-height: 28px;
                   letter-spacing: 2.8px;
                   font-weight: 400;
                   font-size: 14px;
                   position: relative;
                   &::after{
                       content: '';
                       width: 35px;
                       height:1px;
                       background-color: #1d1d1d;
                       position: absolute;
                       right: -45px;
                       top: 13px;
                   }
                   &::before {
                       left: -48px;
                       content: '';
                       width: 35px;
                       height: 1px;
                       background-color: #1d1d1d;
                       position: absolute;
                       top: 13.5px;
                   }
                }
                h2 {
                   margin-top: 10px;
                   font-size: 60px;
                   line-height: 60px;
                   font-weight: 600;
                   font-family: montserrat;
                   color:rgb(227, 117, 115); 
                   span {
                       font-size: 30px;
                       color: #1d1d1d;
                      line-height: 60px;
                      vertical-align: middle;
                       font-family: montserrat;
                   }     
                }
                button {
                   margin-top: 20px;
                   background-color:#ffffff;
                   font-family: montserrat;
                   line-height: 20px;
                   font-weight: 400px;
                   border: 0;
                   padding: 15px 63px;
                   transition: .2s ease;
                   &:hover {
                       background-color: #1d1d1d;
                       color: #fff;
                   }
                }
            }
            label {
                font-size: 13px;
                line-height: 36px;
                cursor: pointer;
                letter-spacing: 2px;
                color: #fff;
                padding: 6px 15px;
                background-image: linear-gradient(transparent calc(100% - 50px),#000000 1.5px);
                background-image: -ms-linear-gradient(transparent 95%,currentColor 1.5px);
                transition: 0.6s cubic-bezier(.215,.61,.355,1);
                background-size: 100% 100%;
            }                 
            
        }
        img {
            height: 100%;
            width: 100%;
            transition: all 0.5s ease-in-out;
            transition-property: all;
            transition-duration: .45s;
            transition-timing-function: ease-in-out;
            transition-delay: 0s;
            object-fit: contain;
        }
        .col {         
            margin-bottom: 25px;
            padding: 0px 15px !important;
        }
    }


@media  screen and (max-width:1115px) {
    .banner {
        margin-top: -180px !important;
    }
    .item4 {
        order: 2 !important;
    }
    .item5 {
        order: 1 !important;
    }
    .item6 {
        order: 5;
    }
    .banner {
        padding: 0 40px !important;
    }
}
@media  screen and (min-width:1550px) {
    .banner {
        padding: 0 115px !important;
    }
}
@media  screen and (max-width:650px) {
    .banner {
        padding: 0 20px !important;
      
    }
}
@media  screen and (max-width:768px) {
    .banner {
        margin-top: -80px !important;
        .content-shared {
            top: 15px !important;
             }
             h2 {
                font-size: 36px !important;
                line-height: 36px !important;
                span {
                    font-size: 26px !important;
                }     
             }
            button {
                padding: 12px 25px !important;
            }
        }
    }
    @media  screen and (max-width:420px) { 
        .banner {
            .item1 img {
                height: 250px !important;
                object-fit: cover;
            }
            .item5  {
                .content-shared {
                    left: 20px;
                }
                h5 {
                    display: none;
                }
                img {
                    height: 250px !important;
                    object-fit: cover;
                }
                .content5 {
                    display: none !important; 
                }
            }
        }
    }