.single-item {
    width: calc(25% - 30px);
    margin-left: 30px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 35px;
    position: relative;
    margin-top: 20px;
    &:hover .shop-gr-icon li {
        opacity: 1;
    }
    &:hover .shop-gr-icon {
        box-shadow: 0 0 14px rgb(30 22 102 / 10%);
    }
    &:hover .shop-gr-icon li {
        transform: translateX(-20px);
        opacity: 1;
    }
    &:hover .shop-gr-icon li:nth-child(1) {
        transition-duration: 0.3s;
    }
    &:hover .shop-gr-icon li:nth-child(2) {
        transition-duration: 0.4.5s;
    }
    &:hover .shop-gr-icon li:nth-child(3) {
        transition-duration: 0.5s;
    }
    &:hover .shop-gr-icon li:nth-child(4) {
        transition-duration: 0.7s;
    }

    .pro-im {
        width: 100%;
        &:hover {
            box-shadow: 0 0 14px rgb(30 22 102 / 10%);
        }
    }
    .single-content {
        .single-cate {
            color: rgb(243, 88, 74);
            font-size: 12px;
            margin-top: 30px;
            margin-bottom: 20px;
            letter-spacing: 0.3px;
        }
        .single-tt {
            letter-spacing: 1.65px;
            margin-bottom: 15px;
        }
        .gr-pri {
            letter-spacing: 2px;
            display: flex;
            justify-content: center;
            .single-pr {
                margin-left: 5px;
            }
            #single-active {
                color: rgb(243, 88, 74);
            }
            .remove-pr {
                text-decoration: line-through;
            }
        }
    }
}

.shop-gr-icon {
    top: 3%;
    right: 2px;
    box-shadow: none !important;
}
.shop-tooltip {
    top: 3%;
    right: 90px;
    font-size: 9px !important;
}